name: Deploy to GitHub Pages

on:
  push:
    tags:
      - 'v*' # 当推送以 v 开头的标签时触发
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'eslint.config.js'
      - '.gitignore'
  workflow_dispatch:  # 加上这一行，就会出现手动运行按钮

permissions:
  contents: write # 允许 Actions 修改仓库内容

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Vite 编译后的文件夹
          branch: gh-pages # 部署到的分支
